<div class="container">
	<center><h2>Política de Privacidade e Termos de Uso</h2>
	<h3>Política de Privacidade</h3>
	<p class="lead">Esta aplicação web foi desenvolvida seguindo todos os parâmetros de segurança e políticas de privacidade exigidos pelo Instagram. Não guardamos informações pessoais do cliente no nosso servidor, apenas dados de pesquisa que eventualmente o cliente decida salvar por escolha própria, própria da natureza do serviço prestado.</p>
	<h3>Termos de Uso</h3>
	<p class="lead">Este serviço segue as mesmas diretivas dos termos de uso do Instagram, <a href="https://help.instagram.com/478745558852511" target="_blank">que podem ser consultados aqui</a>.</p>
	<p class="lead">Se você concorda com os termos de uso e política de provacidade, faça logon pelo Instagram: </p>
	<a type="button" class="btn btn-block" href="https://api.instagram.com/oauth/authorize/?client_id={{oauth.client_id}}&redirect_uri={{oauth.redirect_uri}}&response_type=code"><img src="img/instagram-app.png" class="img-responsive center-block" alt="Foto de Perfil"></a>
</div>